/* @import "tailwindcss/preflight"; */
@tailwind utilities;
@import "tailwindcss";
a {
  text-decoration: none !important;
  color: inherit !important;
}
a:hover, a:focus {
  text-decoration: none !important;
  color: inherit !important;
}

html, body {
  /* overflow-x: hidden; */
}